<%= form_for(@salad) do |f| %>
  <% if @salad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salad.errors.count, "error") %> prohibited this salad from being saved:</h2>

      <ul>
      <% @salad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :ingredient_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
